@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sales Web é um software desenvolvido em .NET Core para registros de vendedores 
    e departamentos de vendas online onde vendedores são cadastrastrados e listados.
 </p>
