@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="williamaiadias@gmail.com">williamaiadias@gmail.com</a><br />
</address>
